<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>this is a home page  " 1 + 2"</h1>
    <h3>number using EJS, output of 1 + 2 is "<%= 1 + 2 %>"</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur repudiandae optio sapiente itaque numquam vero? Distinctio vel fugiat quaerat in nulla perspiciatis sint porro? Quia autem reprehenderit dolor perferendis a.</p>
    <button>click me!</button>
</body>
</html>