<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <h2>You are about to add a user</h2>
    <form method="post" action="/user/added">
        <textarea name="username" id="" cols="30" rows="10"></textarea>
        <input type="text" name="email" placeholder="Enter email"/>
        <input type="password" name="password" placeholder="Enter password"/>
        <button>ADD</button>
    </form>
</body>
</html>